
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.g-card {
  margin: 20px;
}

.g-card-image {
  border-radius: 10px;
  width: 300px;
  height: 480 px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.c-card{
  margin: 10px;
}

.contact-card-image {
  border-radius: 5px;
  width: 70px; 
  height: 70px;
}

.g-card-info {
margin: 10px;
min-height: 100px;
}

.g-card-title {
  font-size: 24px;
  margin: 0px;
}

.g-card-sub-title{
  font-size: 16px;
  margin: 0px;
}

.navbar-custom {
  background-color: red !important;
}

.navbar-text{
font-weight: bold;
}
.me3-style {
  width:50px;
  height: 50px;
  justify-content: space-around;
}

.footer-custom {
  background-color: red !important;
}

.footer-font-style {
  font-family: 'Bell MT';
  color: 'red';
  font-size: '20px';
}

.navbar-brand {
  font-family: "GillSans-Bold";
}

.link-text-style {
font-family: "CourierNewPSMT";
font-size: 25px;
}

.about-me-title{
  font-family: "Arial-BoldMT";
  font-size: 100px;
  color: whitesmoke; 
  text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.75);
  padding-left:30px;
}

.about-me-content{
  font-family: "Optima";
  font-size: 30px;
  text-align: center;
  padding-left:45px;
  padding-right: 45px;
}

.aboutMe-IMG-style1{
  width: 450px;
  height: 200px;
  Align-Items: center;
  Justify-Content: center;
}

.aboutMe-IMG-style2{
  width:5px;
  height:5px;
}


.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .contact-page-text{
   font-family: "Courier New";

 }

 .contact-page-small{
   font-family: "Courier New";
   color: darkgrey;
   font-size: 40px;
   position: relative;
   top: 15px; 
   right: -10px;
 }

 .projects-text{
   font-size: 100px;
   font-family: "New Courier";
   color: darkgray;
   align-items: center;
 }

 .brightness {
  background-color: black;
  display: inline-block;
  flex-direction: 'row';
   display: 'flex';
    justify-content: "center";
     text-align: 'center';
     margin: 30;
      position:"relative";
      right: "190px";
}
.brightness img:hover {
  opacity: .5;
}



